@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Proxima Nova', system-ui, sans-serif;
    padding: 0;
    margin: 0;
  }

  * {
    padding: 0;
    margin: 0;
  }

  body {
    background-color: #869197;
  }
}
